.main-nav-container {

  @media (max-width: 589px) {
    display: none;
  }

  font-family: 'Archivo Narrow', sans-serif;
  font-size: 110%;
  text-align: center;

  .nav {
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
    list-style: none;
    background: $base-gray-secondary;
  }

  .nav-item {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;

    a {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: $base-red;
    }
  }

  .nav-item-active a {
    color: $base-gray;
  }
}

.mobile-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  font-size: 110%;
  text-align: center;
  text-transform: uppercase;
  background: $base-gray-secondary;
  opacity: .9;
  flex-direction: row;

  .nav {
    list-style: none;
  }

  .nav-item {
    padding: 15px;

    a:hover {
      color: $base-red;
    }
  }

  a {
    color: $base-gray;
    text-decoration: none;
  }
}


.mobile-nav-button {
  position: absolute;
  top: 19px;
  right: 25px;
  width: 35px;
  height: 35px;
  background: none;

  .lines {
    fill: $base-gray;
  }

  &--open {
    @media (min-width: 590px) {
      display: none;
    }
  }

  &--close {
    font-size: 80%;
    background: $base-gray-secondary;
  }
}
